body {
  background-color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content-layer {
  width: 60%;
  text-align: center;
}

/* Layout for the navbar */
div#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  overflow: hidden;
}

div#navbar ul li {
  float: left;
}

div#navbar ul li a {
  display: block;
  padding: 8px;
}

/* Layout for the footer */
div.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  overflow: hidden;
}

div.footer-item {
  padding: 8px;
}
